# Linux trash folder which might appear on any partition or disk
.Trash-*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
Icon?

### Gradle ###
build/
.gradle/

# Folder config file
[Dd]esktop.ini
